.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.MealsLoading,
.MealsError {
  margin: 1rem auto;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 1rem 2rem;
  background-color: white;
  width: 20%;
  border-radius: 20px;
}

.MealsError {
  color: red;
}
